#!/bin/sh

# commands preloaded w/ default args
alias ls='eza --icons --group-directories-first'
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'
alias mkdir='mkdir -p -v'

# single letter shortcuts to core commands
alias a='sgpt'
alias b='bat'
alias c='cursor'
alias d=''
alias e=''
# alias f='' - used for yazi wrapper in .zfuncs
alias g='git'
alias h=''
alias i=''
alias j=''
alias k=''
alias l='eza --icons --group-directories-first'
alias m='mkdir'
alias n=''
alias o=''
alias p=''
alias q=''
alias r='rm'
alias s='sudo'
alias t='task'
alias u=''
alias v='nvim'
alias w=''
alias x=''
alias y='yarn'
# alias z='' - used for zoxide

# commands aliased to alternatives
alias vim='nvim'

# shell-gpt
alias ac='sgpt --chat'
alias act='sgpt --chat temp'
alias acl='sgpt --list-chats'
alias ar='sgpt --repl'
alias art='sgpt --repl temp'
alias as='sgpt --shell'

# docker
# TODO

# git
alias ga='git add .'
alias gc='git commit'
alias gca='git commit --amend'
alias gco='git checkout'
alias gd="git diff --color | sed 's/^\([^-+ ]*\)[-+ ]/\\1/' | less -r"
alias gf='git fetch'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gnb='git checkout -b'
alias gp='git push origin HEAD'
alias gpf='git push origin HEAD --force'
alias gs='git status -sb'

# soundcloud (tizonia)
alias scartist='tiz --soundcloud-creator'
alias sclikes='tizonia --soundcloud-user-likes'
alias scstream='tizonia --soundcloud-user-stream'
alias sclist='tizonia --soundcloud-user-playlist'

# spotify (tizonia)
alias spartist='tizonia --spotify-artist'
alias spalbum='tizonia --spotify-album'
alias splist='tizonia --spotify-playlist'
alias sptrack='tizonia --spotify-tracks'

# task(warrior)
alias t='task'
alias tf='task | fzf'
alias tadd='task add'
alias tactive='task active'
alias tappend='task append'
alias tdone='task done'
alias trm='task delete'
alias tedit='task edit'
alias tmod='task modify'
alias tstart='task start'
alias tstop='task stop'

# vim
alias vf='nvim $(fzf)'

# shortcuts
alias chmox='chmod +x'                            # flags a file as executable
en() { awk '{printf "%s\\n", $0}' "$1"; }         # escapes newlines

# clipboard
alias getclip="xclip -selection c -o"
alias setclip="xclip -selection c"

# cli
alias shc="shellcheck"
alias shfc="shfmt"
alias rn='react-native'
alias wt='cd "$(wtpick)"'
alias wtc='cursor -n "$(wtpick)"'
alias ca='cursor agent --model=gpt-5'

# term
alias reload!='. "$HOME"/.profile'
alias cls='clear'

# ssh
# alias cpkey='copyq copy - < ~/.ssh/id_rsa.pub | echo 'Public key copied to pasteboard.''
