[settings]
# install pipx-backend tools with uv
pipx.uvx = true

[tools]
go = "1.25.6"
node = "24.13.0"
python = "3.14.3"
ruby = "4.0.1"

# global CLI tools
"npm:agent-browser" = "latest"
"pipx:poetry" = "latest"
"pipx:shell-gpt" = "latest"
gitleaks = "8.30.1"
{{- if and (hasKey . "personal") .personal }}

# personal machines only
rust = "stable"
"cargo:tokei" = "15.0.0"
{{- end }}
